<!-- <!DOCTYPE html>
<html>
<head>
    <title>Reddit Lucene Search</title>
</head>
<body>
    <h1>Search Reddit Posts</h1>
    <form action="/output" method="POST">
        <p>Query: <input type="text" name="query" required /></p>
        <p><input type="submit" value="Search" /></p>
    </form>
</body>
</html> -->

<!DOCTYPE html>
<html>
<head>
    <title>Reddit Search</title>
</head>
<body>
    <h1>Reddit Lucene Search</h1>
    <form action="/output" method="POST">
        <input type="text" name="query" placeholder="Enter your search query" required>
        <button type="submit">Search</button>
    </form>
</body>
</html>
